<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!--此处只扫描controller注解-->
    <context:component-scan base-package="com.lxsoft" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <!-- 将 springSwaggerConfig加载到spring容器 -->
    <bean class="com.mangofactory.swagger.configuration.SpringSwaggerConfig" />

    <!-- 将自定义的swagger配置类加载到spring容器 -->
    <bean class="com.lxsoft.swagger.SwaggerConfig" />

    <mvc:default-servlet-handler/>

    <!--jsp 视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass">
            <value>org.springframework.web.servlet.view.JstlView</value>
        </property>
        <!--<property name="prefix" value="/pages/"></property>-->
        <property name="suffix" value=".jsp"></property>
    </bean>


    <mvc:resources location="/js/" mapping="/js/**" />
    <mvc:resources location="/img/" mapping="/img/**" />
    <!-- Swagger静态资源文件，不会被Spring MVC拦截 -->
    <mvc:resources location="/swagger/" mapping="/swagger/**" />

    <!--自动扫描注解-->
    <mvc:annotation-driven />

</beans>